body{
	background-color: lightblue;
}
#balloon1{
	max-width: 200px;
	position: relative;
	animation: balloon1 5s ease-in infinite; 
}
@keyframes balloon1{
	0% {top: 700px;left: 663px;opacity:0.1;}
	20% {top: 600px;left: 663px; opacity: 0.3;}
	40% {top: 400px;left: 620px; opacity: 0.6;}
	60% {top: 200px;left: 690px; opacity: 0.8}
	80% {top: 0px;left: 663px;opacity:0.9}
	100% {top: -200px;left: 610px;}
}
#balloon2{
	max-width: 200px;
	position: absolute;
	animation: balloon2 8s ease infinite; 
}
@keyframes balloon2{
	0% {top: 700px;left: 363px;opacity:0.1;}
	20% {top: 600px;left: 363px; opacity: 0.3;}
	40% {top: 400px;left: 320px; opacity: 0.6;}
	60% {top: 200px;left: 390px; opacity: 0.8}
	80% {top: 0px;left: 363px;opacity:0.9}
	100% {top: -200px;left: 410px;}
}
#balloon3{
	max-width: 180px;
	position: absolute;
	animation: balloon3 7s ease-in infinite; 
}
@keyframes balloon3{
	0% {top: 500px;left: 863px;opacity:1;}
	20% {top: 600px;left: 863px; opacity: 0.3;}
	40% {top: 400px;left: 800px; opacity: 0.6;}
	60% {top: 200px;left: 890px; opacity: 0}
	80% {top: 0px;left: 843px;opacity:0.9}
	100% {top: -200px;left: 810px;}
}
#balloon4{
	max-width: 190px;
	position: relative;
	animation: balloon4 4s ease-out infinite; 
}
@keyframes balloon4{
	0% {top: 500px;left: 163px;opacity:0.1;}
	20% {top: 600px;left: 273px; opacity: 0.3;}
	40% {top: 400px;left: 320px; opacity: 0.6;}
	60% {top: 200px;left: 290px; opacity: 0.8}
	80% {top: 0px;left: 563px;opacity:0.9}
	100% {top: -200px;left: 210px;}
}
#balloon5{
	max-width: 150px;
	position: relative;
	animation: balloon5 6s ease-in infinite; 
}
@keyframes balloon5{
	0% {top: 550px;left: 163px;opacity:0.1;}
	20% {top: 600px;left: 973px; opacity: 0.3;}
	40% {top: 450px;left: 820px; opacity: 0.6;}
	60% {top: 250px;left: 990px; opacity: 0.8}
	80% {top: 0px;left: 1063px;opacity:0.9}
	100% {top:-100px;left: 1010px;}
}
