<%=  link_to 'Back', admin_categories_path, class: 'btn btn-default' %>

<%=  link_to 'Edit', edit_admin_category_path(@category), class: 'btn btn-default' %>

<hr>

<div>
  <strong>
    Id
  </strong>

</div>

<br>
<div>
  <strong>
    Name
  </strong>

</div>

<br>
<div>
  <strong>
    Image
  </strong>
</div>
<br>
<div>
  <strong>
    Description
  </strong>

</div>
