<a href=""><button class="btn btn-default">New</button></a>

<table class="table table-hover __web-inspector-hide-shortcut__">	
	<thead>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Image</th>
		<th>Description</th>
		<th>Actions</th>
		
	</tr>
	</thead>
	<tbody>
		<% @banners.each do |banner| %>	
			<tr>
				<th scope= "row">1</th>
				<td><%= banner.id %></td>
				<td><%= banner.name %></td>
				<td>
					<%= image_tag banner.image,
								  width: '100px',
								  height: '100px'%>	
				</td>
				<td><%= banner.description %></td>
				<td>
					<button class="btn btn-default">Show</button>
					<button class="btn btn-default">Edit</button>
					<button class="btn btn-default">Destroy</button>
				</td>
			</tr>
		
		<% end %>
	</tbody>
</table>

