body {
	background: #FFB6C1;
	color: #000000;
	font-family: 'Georgia', serif;
	font-size: 30px;
	height: 1500px;
	position: relative;
	padding: 10px 200px;

}
#navbar{
	background-color: #3498db;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 15px;
	width: 1000px;

}
#navbar ul {
	list-style-type: none;
	padding-left: 0px;

}
#navbar ul li {
	display: inline;
	margin-right: 60px;
}
#navbar ul li a{
	text-decoration: none;
	color: #f8fdfc;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 10px;
	transition: color 0.6s background 0.6s;
}
#navbar ul li a:hover{
	background: #FFB6C1;
	color: rgb(52, 152, 219);
}
a{
	text-decoration: none;
}
.picture{
	max-width: 500px;
	max-height: 500px;
}

#main_div{
	
	width: 940px;
	margin-top: 60px;

}
#main_div {
	list-style-type: none;
	width: 1000px;
	
	text-align: center;
	border-radius: 10px 10px;
	border-style: ridge;
	border-color: white;
	border-width: 0.5px;
	
	}
#thongtinsp{
	font-family: serif;
	text-align: left;
}
#div_1{
	padding-left: 20px;
	padding-right: 20px;

}
#div_0{
	background-color: #f37cae;
	text-align: center;
	padding-top: 0.1px;
	padding-bottom: 0.1px;
	border-radius: 10px;
	width: 1000px;
	}
h3{
	color: #f8fdfc;
	font-family: serif;
}
#div_0:hover{
	background: #fbdae8;
	color: ;
}



